#authlib==0.11
flask
flask_sqlalchemy
wtforms
flask_wtf
passlib[bcrypt]
flask-httpauth
itsdangerous
requests
oauth2client.client
flask_uploads
google-api-python-client
httplib2
flask-login
#google-api-python-client
#google-auth
#virtualenv