{% extends "layout.html" %} {% block content %} {% for categorieitem in categorieitems %}
<article class="media content-section">

    {% if categorieitem.picture is not none %}
    <img class="rounded-circle article-img" src="{{ url_for(categorieitem.picture) }}"> {% else %}
    <img class="rounded-circle article-img" src="https://cdn.pixabay.com/photo/2014/10/14/20/24/the-ball-488700_960_720.jpg"> {%endif %}
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{  categorieitem.categorie.name }}</a>
            <small class="text-muted">{{ categorieitem.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ categorieitem.name }}</a></h2>
        <p class="article-content">{{ categorieitem.description }}</p>
        {% if categorieitem.author == current_user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_item', item_id=categorieitem.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
        {% endif %}
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_item', item_id=categorieitem.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock content %}