{% extends "layout.html" %} {% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin login-message-center">
                            <hr class="my-4">
                            <div id="my-signin2" class="g-signin2"> Sign in with Google</div>
                            <div id="result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onSuccess(googleUser) {
            // Get the Google profile data (basic)
            var profile = googleUser.getBasicProfile();
            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            // console.log("ID Token: " + id_token);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/signin/google');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                console.log('Signed in as: ' + xhr.responseText);
                if (xhr.responseText) {
                    $('#result').html('Login Successful!</br>' + xhr.responseText + '</br>Redirecting...')
                    setTimeout(function() {
                        window.location.href = "/home";
                    }, 400000);
                };
            }
            xhr.send('idtoken=' + id_token);
        } // Sign out the user
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                document.getElementsByClassName("userContent ")[0].innerHTML = '';
                document.getElementsByClassName("userContent ")[0].style.display = "none ";
                document.getElementById("my-signin2").style.display = "block ";
            });

            auth2.disconnect();
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton " async defer></script>
</body>
<!-- https://startbootstrap.com/snippets/login/ -->
{% endblock content %}